.header {
    background-image: linear-gradient(to bottom right, rgb(57, 99, 116), rgb(6, 36, 48));
    color: rgb(207, 202, 184);
    padding: 0.5em;
}

.header > h1 {
    font-size: 2.5em;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 2px 2px rgb(125, 36, 40);
    text-align: center;
}