.navbar {
    background-color: rgb(125, 36, 40);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.navbar > a {
    display: inline-block;
    font-size: 1.1em;
    padding: 8px;
    color: rgb(207, 202, 184);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.navbar a:hover {
    color: rgb(207, 202, 184);
    background-color: rgb(6, 36, 48);
}