/* grid of objects */
.objects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.object-preview {
    border: 1px dotted purple;
    flex: 1;
    margin: 0.5em;
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}

.object-preview:hover {
    background-color: rgb(165, 165, 185);
}

.object-preview > h4 {
    text-align: center;
    color: purple;
    text-decoration: underline;
}

.object-preview > img {
    display: block;
    max-height: 250px;
    margin: auto;
    border-radius: 4px;
}

/* individual object */
.object {
    max-width: 600px;
    margin: auto;
}

.object > h1 {
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.object img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: auto;
}

.object > blockquote {
    font-style: italic;
}

/* Navigation */
.prev-next {
    text-align: center;
}

.prev-next > a {
    margin: 0 1em;
}