@import "header.css";
@import "navbar.css";
@import "footer.css";

@import "info-page.css";

@import "object.css";
@import "article.css";

@import "search.css";
@import "gallery.css";

@import "figure.css";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    background-color: rgb(233, 233, 233);
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 202, 184);
    max-width: 75%;
    margin: 0 auto;
    overflow-y: scroll;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.container {
    min-height: 300px;
    margin: 1em;
}

/* On bottom to overwrite conflicting styles */
@media (max-width: 700px) {
    .navbar > a {
        width: 100%;
    }
}